title {
  font-size: 30px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

/***********************/
/* Side note box start */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 12px;
}
blockquote:before {
  color: #ccc;
  content: "side note:";
  font-size: 16px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: 0em;
}
blockquote p {
  display: inline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

/* Side note box end */
/*********************/


/***************************/
/* Table of contents start */

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2em 20px 40px 20px;
  background-image: url("img/logo/hexagonMMFAIR.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #003f75ff;
    border-color: #003f75ff;
}

/* Table of contents end */
/*************************/


  .nav-pills>li>a {
     color: #003f75ff;
     }
  .nav-pills>li>a:hover, .nav-pills>li>a:focus, .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
     color: white;
     background-color: #003f75ff;
     }


/********************************************/
/* Hyperlinks with a target attribute start */

a[target]:link {
   text-decoration: none;
   line-height: 1;
   
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 5px 5px;
   overflow: hidden;
   color: #333;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

a[target]:link::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(60deg, #003f75ff 0%, #1d5a8fff 100%);
   transition: transform .25s ease-out;
}

a[target]:link:hover { 
   color: #fff; 
}

a[target]:link:hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}

.credits {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 20px;
   background-image: linear-gradient(60deg, #003f75ff 0%, #1d5a8fff 100%);
   text-align: center;
   font-size: 10px;
   line-height: 20px;
   color: white;
   letter-spacing: 1px;
}

.credits > a {
   text-decoration: none;
   color: #fff;
   letter-spacing: 1px;
}

/* Hyperlinks with a target attribute end */
/******************************************/